.zag{
	color:white;
	background-color:black;
	width:200px;
	margin:auto;
	text-transform:uppercase;
}
h2{
	margin:auto;
	text-align:center;
}

.content{
  font-size:0;
  width:790px;
  margin: 100px auto 50px auto;
}
.card{
  width:350px;
  margin-bottom:60px;
  padding:45px 45px 70px;
  box-shadow: 4px 4px 5px rgb(120, 120, 120);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
.no-right-margin{
  margin-right:0px;
}
.card-title{
  font-size:24px;
  font-weight:500;
  margin-bottom:10px;
}
.card-text{
  font-size:16px;
}